.parrafo{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 15px; }
.titulo{font-family: 'Bebas Neue', cursive;font-size:3em ;}
.footer{font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;text-decoration:none;color:black;}
.subtitulo{font-family:'Bebas Neue', cursive;}